@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

}

*, *::before, *::after {
    box-sizing: inherit;
}

.to-do {
    color: #CC9933;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
}


.label {
    background-color: #D2D2D2;
	padding: 2rem 2rem 4.5rem 2rem;
	border-radius: 16px 16px 0 0;
}    
    
.surround {
	margin: 3rem;
    padding: 2em;
	border-radius: 19px;
	background-color: #D2D2D2;
	padding-bottom: 50px;
}

.button {
    font-family: 'Helvetica', sans-serif;
    border-radius: 0 9px 9px 0;
	border: gray 1px solid;
	padding: 1rem 1rem 1rem 1rem;
	font-size: 1rem;
	line-height: 1rem;
	float: left;
    height: 46px;
    background-color: #CC9933;
}

.name {
    height: 2.25rem;
	width: 70%;
	border:2px solid #H2H2H2;
	font-size: 1rem;
	font-family: serif;
	padding-left: .5rem;
	float: left;   
}

.title {
    display: block;
	text-align: center;
	font-size: 1.75rem;
	padding-top: .25rem;
	padding-bottom: .25rem;
	line-height: 1.75rem;
}  

.strike {
    text-decoration: line-through;
    color: #D2D2D2;
    cursor: cell;
}
    
.li {
    list-style-type: none;
}


.delete {
	color: #D2D2D2;
    background-color: #CC9933;
	width: 2rem;
	position: relative;
	float: right;
	margin-right: 1.75rem;
	height: 2rem;
	font-size: 1rem;
    border-color: #CC9933;
}

.button:hover{
	background-color: #303030;
}