@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

}

*, *::before, *::after {
    box-sizing: inherit;
}


.strike {
text-decoration: line-through;
color: #D2D2D2;
cursor: cell;
}


.label {
    background-color: #D2D2D2;
	padding: 2rem 2rem 4.5rem 2rem;
	border-radius: 16px 16px 0 0;
}    
    
.surround {
	margin: 3rem;
    padding: 2em;
	border-radius: 19px;
	background-color: #D2D2D2;
	padding-bottom: 50px;   
}

.button {
    font-family: serif;
    border-radius: 0 9px 9px 0;
	border: gray 1px solid;
	padding: .75rem 1.25rem .75rem 1.25rem;
	font-size: 1rem;
	line-height: 1rem;
	float: left;
}

.name {
    height: 2.25rem;
	width: 70%;
	border:2px solid #H2H2H2;
	font-size: 1rem;
	font-family: serif;
	padding-left: .5rem;
	float: left;   
}

.title {
    display: block;
	text-align: center;
	font-size: 1.75rem;
	padding-top: .25rem;
	padding-bottom: .25rem;
	line-height: 1.75rem;
}   
    
.li {
 list-style-type: none;
	padding-left: 2rem;
}


.done {
    border: red 1px solid;
	background-color: green;
	border-radius: 5px;
	color: red;
	width: 2rem;
	position: relative;
	float: right;
	margin-right: 1.75rem;
	height: 2.75rem;
	font-size: 1.25rem;
}

.button:hover{
	background-color: #303030;
}


h2 {
	xdisplay: inline-block;
	font-size: 1.25rem;
	line-height: 1.50rem;
	width: 100%;
	font-weight: lighter;
	margin-bottom: 0;
	padding-top: .75rem;
}